<div>
  <div>
    <ul class="nav">
      <li [routerLink]="['todos']" [routerLinkActive]="'active'" class="nav-item">
        <a class="nav-link">ToDos</a>
      </li>
      <li [routerLink]="['comments']" [routerLinkActive]="'active'" class="nav-item">
        <a class="nav-link">Comments</a>
      </li>
      <li [routerLink]="['users']" [routerLinkActive]="'active'" class="nav-item">
        <a class="nav-link">Users</a>
      </li>
      <li [routerLink]="['posts']" [routerLinkActive]="'active'" class="nav-item">
        <a class="nav-link">Posts</a>
      </li>
      <li [routerLink]="['photos']" [routerLinkActive]="'active'" class="nav-item">
        <a class="nav-link">Photos</a>
      </li>
    </ul>
  </div>
  <div class="mt-3">
    <router-outlet></router-outlet>
  </div>
</div>