/* You can add global styles to this file, and also import other style files */
// @import "~bootstrap/dist/css/bootstrap.css"

.active {
  border-bottom: 2px solid #000;
  background-color: #ccc;
  cursor: pointer;
}

li:hover {
  background-color: #eee;
  cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
